<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
  </head>
  <body>
    <main>
      {{#features}}
        <article>
          <h1>{{keyword}}: {{name}}</h1>
          {{#description}}
            <pre>{{description}}</pre>
          {{/description}}
          {{#scenarios}}
            <section>
              <h2>{{keyword}}: {{name}}</h2>
              {{#description}}
                <pre>{{description}}</pre>
              {{/description}}
              {{#steps}}
                <section>
                  <h3>{{keyword}} {{name}}</h3>
                  {{#docstring}}
                    <pre>{{docstring}}</pre>
                  {{/docstring}}
                </section>
              {{/steps}}
            </section>
          {{/scenarios}}
        </article>
      {{/features}}
    </main>
  </body>
</html>
